{{define "home"}}

    <!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="/public/main.css">
        <script src="/public/main.js"></script>
    </head>
    <body>

    <h1>Home: {{ .Gym }}</h1>

    <ul>
        <li><a href="/fareham">Fareham</a></li>
    </ul>

    </body>
    </html>

{{end}}
